In [3]:
import pandas as pd

In [8]:
pib = pd.read_csv('PIB.csv')
pib.head()

,PIB\nPosición,Estado,PIB\n($ Millones),Porcentaje del\nPIB Nacional,Población\n(Millones),PIB\nper cápita ($),PIB per cápita\nPosición
0,NaN,Estados Unidos,14657.800,100.00,308.7,47.482,NaN
1,1,California,1936.400,13.34,37.3,51.914,12.0
2,2,Texas,1207.432,7.95,25.1,45.940,24.0
3,3,Nueva York,1156.500,7.68,19.4,57.423,7.0
4,4,Florida,754.000,5.20,18.8,40.106,40.0

In [10]:
desempleo = pd.read_csv('Desempleo.csv')
desempleo.head(5)

,Rank,Rank\n(50 states),State\nfederal district\nor territory,Unemployment rate \n,Monthly change (%)\n(=drop in unemployment)
0,1,—,American Samoa,0.114,—
1,—,—,"Northern Mariana Islands[6]: 60, 66, 103, 109",0.112,—
2,2,—,Puerto Rico[7],0.083,0.1
3,3,1,Nevada,0.075,0.2
4,3,1,California,0.075,0

In [14]:
desempleo["Unemployment rate \n"] < 2008
mayor = desem[planets['year'] == 2008]